.App {
  text-align: center;
}
.Homebeforescrolling{
  background-image: url(./Skyline.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: top center;
  background-repeat: no-repeat;
}
.profile {
  content: url(./IMG_1551.jpg);
  border-radius: 10%;
  height: 50vh;
  clip: auto;
}
.Navbar {
  background-color: transparent;
  padding: 5px;
  display: flex;
  color: #f4ece3;
}

.welcomepage {
  padding-top: 5em;
  height: 100vh;
  color: #f4ece3;
}

.aboutme {
  height: 100vh;
  background-color: #53636c;
  color: white
}

.projects {
  height: 100vh;
  background-color: #f4ece3;
}

.contact {
  height: 32vh;
  background-color: rgb(134,204,204);
}

.icons {
  display: flex;
  justify-content: space-around;
}

.icons {
  padding: 1em;
}

h1{
  padding-top: .5em;
}

.linkname {
  padding-top: .25em;
}

.Fa {
  color: #f4ece3;
}

.Fa :hover {
  color: #53636c;
}