.App {
  text-align: center;
}
.Homebeforescrolling{
  background-image: url(./BackgroundHome.jpg);
  background-size: cover;
  background-color: #d7eaf3;
  background-blend-mode: multiply;
}

.Navbar {
  background-color: transparent;
  padding: 5px;
  display: flex;
}

.welcomepage {
  padding-top: 5em;
  background-color: transparent;
  height: 100vh;
}

.aboutme {
  height: 100vh;
  background-color: #14397D;
  color: white
}

.contact {
  height: 50vh;
  background-color: #14397D;
}

.icons {
  display: flex;
  justify-content: space-around;
}

.bi {
  padding-left: 1em;
  height: 3em;
  width: 3em;
}

.bi :hover{
  fill: red
}

.icons {
  padding: 1em;
}

.LinkedInIcon {
  height: 2em;
}