html {
  scroll-behavior: smooth;
}

.App {
  text-align: center;
}
.Homebeforescrolling{
  background-image: url(./Skyline.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: top center;
  background-repeat: no-repeat;
}
.profile {
  content: url(./IMG_8815.jpg);
  border-radius: 50%;
  height: 50vh;
  clip: auto;
  padding-right: .5em;
  align-items: center;
}
.Navbar {
  background-color: transparent;
  padding: 5px;
  display: flex;
  color: #f4ece3;
}

.welcomepage {
  padding-top: 5em;
  height: 100vh;
  color: #f4ece3;
  padding-right: 2em;
  padding-left: 2em;
  display: flex;
  align-items: baseline;
}

.skills {
  height: 80vh;
  background-color: #f4ece3;
}

.aboutme {
  height: 100vh;
  background-color: #547174;
  color: white;
  padding-left: 2em;
  padding-right: 2em;
}

.projects {
  height: 100vh;
  background-color: #547174;
  color: white;
}

.contact {
  height: 32vh;
  background-color: rgb(134,204,204);
}

.icons {
  display: flex;
  justify-content: space-around;
}

.icons {
  padding: 1em;
}

h1{
  padding-top: .5em;
}

.linkname {
  padding-top: .25em;
}

.Fa {
  color: #f4ece3;
}

.Fa :hover {
  color: #53636c;
}

.columns {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.categories {
  padding-left: 2em;
  display: flex;
  align-content: flex-start;
  text-align: left;
  flex-flow: column;
  padding-top: 0;
}

.languages{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.frameworks{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Testing{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.databases{
  display: flex;
  flex-direction: row;
  align-items: center;
}